footer {
  background-color: rgb(238, 53, 36);
  color: #ffffff;
  padding: 1rem;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.footer-title {
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--font-choplin);
}

.footer-logo {
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
