header {
  background-color: rgb(238, 53, 36);
  color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  height: 100px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.header-title {
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--font-choplin);
}

.headerImage {
  height: 52px;
  border-radius: 50%;
}
